<nav>
    <button mat-button [matMenuTriggerFor]="menu">Menu</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item> <a routerLink="/home/welcome" routerLinkActive="active">Welcome</a> </button>
      <button mat-menu-item> <a routerLink="/user/login" routerLinkActive="active">Login</a></button>
      <button mat-menu-item> <a routerLink="/user/signup" routerLinkActive="active">Sign Up</a></button>
      <button mat-menu-item> <a routerLink="/user/profile" routerLinkActive="active">Profile</a></button>
    </mat-menu>
</nav>

<router-outlet></router-outlet>