<div class="container">
    <form class="example-form">
        <div class="row">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Login" autocomplete="off" value="">
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Password" autocomplete="off" type="password" value="">
            </mat-form-field>
        </div>
        <button mat-stroked-button color="primary">Login</button>
    </form>
</div>